
/*TODO  https://a11y-guidelines.orange.com/fr/web/exemples-de-composants/zoom/*/


ul{
    list-style: none ;
}

/*Labels and checboxes */
label {
    position: relative;
    padding: 0 0 0 2rem;
  }
  
  input[type=checkbox] {
    position: absolute;
    opacity: 0;
  }
  
  input[type=checkbox] + label::before,
  input[type=checkbox] + label::after {
    content: '';
    position: absolute;
    display: inline-block;
  }
  
  input[type=checkbox] + label::before {
    left: 0.5rem;
    top: 0.15rem;
    width: 0.9rem;
    height: 0.9rem;
    border: 0.05rem solid black;
    background: white;
  }
  
  input[type=checkbox]:checked + label::after {
    left: 0.6rem;
    top: 0.28rem;
    height: 0.8rem;
    border-left: 0.8rem solid rgb(3, 90, 36);
  }
  
  input[type=checkbox]:focus + label::before {
    outline: 0.05rem dotted;
  }


/*the form label is hide, only screen reader will detect it */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
}


